* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background-image: url(../img/light_bg.jpg);
	background-color: #BEC1C1FF;
	background-attachment: fixed;
}

a {
	text-decoration: none;
}

header .topnav h1 {
	text-transform: uppercase;
	color: #292A2AFF;
	font-size: 50px;
	cursor: pointer;
	transition: color 200ms ease;
}

header .topnav h1:hover {
	color: #636567FF;
	transition: color 200ms ease;
}


header {
	background-image: url(../img/light_header_bg4.jpg);
	background-size: contain;
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	top: 0;
	position: fixed;

	box-shadow: 0px 11px 16px -2px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 11px 16px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 11px 16px -2px rgba(0,0,0,0.75);
}

header .topnav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
}

header .topnav .links_block {
	margin-right: 100px;
	margin-top: 10px;
}

header .topnav .links_block > a {
	color: #292A2AFF;
	font-size: 18px;
	margin-right: 5px;
}

header .topnav .links_block > a:hover {
	text-decoration: underline;
	color: #000;
}




header .topnav .links_block .categories_block ul {
    text-align: left;
    display: inline;
    margin: 0;
    padding: 14.8px 3px 15px 0;
    list-style: none;
    -webkit-box-shadow: 0 0 5px rgba(19, 18, 18, 0.23);
    box-shadow: 0 0 5px rgba(29, 27, 27, 0.24);
}

header .topnav .links_block .categories_block ul li {
    display: inline-block;
    position: relative;
    cursor: pointer;
    color: #292A2AFF;
	font-size: 16px;
	cursor: pointer;
	display: inline-block;
	padding: 10px 15px 10px 15px;
	background-color: transparent;
	transition: all 200ms ease;
	margin-top: 10px;
	border: 2px grey dashed;
}

header .topnav .links_block .categories_block ul li:hover {
    background: #232424CB;
    color: #ece7e7;
    border: 2px #fff solid;
    transition: all 200ms ease;
}

header .topnav .links_block .categories_block ul li ul {
  padding: 0;
  position: absolute;
  left: 0;
  width: 200px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -transition: opacity 0.5s;
  margin-top: 12px;
  margin-left: -2px;
}
header .topnav .links_block .categories_block ul li ul li {
    background: #202020FF;
    display: block;
    color: #f9f0f0;
    text-shadow: 0 -1px 0 #171616;
    margin-top: 0;
    font-size: 12px;
    border: 1px grey dashed;
}
header .topnav .links_block .categories_block ul li ul li:hover {
 	background: #404141FF; 
 	border: 1px #fff dashed;
}
header .topnav .links_block .categories_block ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}






.search_block {
	position: relative;
	left: 380px;
	margin-top: -23px;
	width: 220px;
}

.search_block form {
	position: relative;
	width: 220px;
}

.search_block form input {
	outline: none;
	padding: 2px 5px;
	width: 200px;
	font-size: 15px;
	background-color: #D4D8D7FF;
	border: 2px #4C4E4EFF solid;
}

.search_block form button {
	border: none;
	outline: none;
	background: none;
	margin-left: -27px;
	cursor: pointer;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.search_block form button img {
	width: 15px;
	margin-bottom: -2px;
}






main {
	width: 100%;
	display: flex;
	justify-content: center;
}

main .content_wrapper {
	max-width: 100%;
	border: 3px #434445FF solid;
	margin-top: 130px;
		background-image: url(../img/light_header_bg3.png);
		background-size: contain;


-webkit-box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.84); 
box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.84);
}


.posts {
	display: flex;
	justify-content: space-between;
}



.posts a {
	width: 212px;
	height: 388px;
/*	background-color: #232424FF;
*/	text-align: center;
	padding-top: 7px;
	background-color: #2324247F;
	border-left: 4px #4042437F dashed;
	border-right: 4px #4042437F dashed;
	border-top: 4px #4042437F dashed;
		transition: all 200ms ease;

}

.posts a:hover {
	background-color: #232424CB;
	transition: all 200ms ease;
	border-left: 4px grey dashed;
	border-right: 4px grey dashed;
}

.posts a:hover > span {
	color: #fff;
		transition: all 200ms ease;

}

.posts a > img {
	margin-bottom: 2px;
}

.posts .f-rate img {
	width: 20px;
	margin-bottom: 0px;
}

.posts a > .name {
	font-size: 13px;
	color: #D7DBDBFF;
	margin-top: 16px;
}

.posts a > .year {
	color: #292A2AFF;
	font-size: 13px;
	font-style: italic;
	font-weight: 600;
}

.posts a > .f-rate {
	margin-top: 10px;
}






.more_button {
	border: 4px #4042437F dashed;
	outline: none;
	cursor: pointer;
	padding: 10px 20px;
	color: #292A2AFF;
	background-color: #9C9F9F82;
	margin: 25px auto;
	display: block;
	margin-top: 40px;
	width: 300px;
	transition: all 200ms ease;
	font-weight: 600;
}

.more_button:hover {
	color: #fff;
	border: 4px grey solid;
	background-color: #232424CB;
	transition: all 200ms ease;
}







.more_pages {
	border: 4px #4042437F dashed;
	outline: none;
	padding: 10px 20px;
	margin: 25px auto;
	display: block;
	width: 814px;
	transition: all 100ms ease;
}

.more_pages:hover {
	border: 4px grey dashed;
	transition: all 100ms ease;
}

.more_pages ul {
	display: flex;
	list-style-type: none;
}

.more_pages ul li {
	margin-right: 3px;
}

.more_pages ul li button {
	border: 4px #4042437F dashed;
	outline: none;
	color: #292A2AFF;
	background-color: transparent;
	padding: 10px 15px;
	cursor: pointer;
	font-weight: 600;
	transition: all 200ms ease;
}

.more_pages ul li button:hover {
	border: 4px #292A2AFF solid;
	transition: all 200ms ease;
	color: #000;
}




footer {
	background-color: #1C1C1CFF;
	background-image: url(../img/lights_posts_bg.jpg);
	width: 100%;
	height: 80px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	align-items: center;


	-webkit-box-shadow: 0px -6px 15px 11px rgba(0, 0, 0, 0.52);
-moz-box-shadow: 0px -6px 15px 11px rgba(0, 0, 0, 0.52);
box-shadow: 0px -6px 15px 11px rgba(0, 0, 0, 0.52);

}

footer .footer_wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 800px;
}

footer .copyright {
	font-size: 30px;
	color: grey;
}

footer .links_block {
	display: flex;
	justify-content: space-between;
	width: 160px;
}

footer .links_block a {
	color: grey;
	font-size: 15px;
}

footer .links_block a:hover {
	text-decoration: underline;
}



.effects_block {
	width: 120px;
	position: absolute;
	right: 0;
	margin-right: 50px;
	text-align: center;
}

/*.effects_block button {
	border: 2px #363736FF dashed;
	outline: none;
	background-color: transparent;
	color: #292A2AFF;
	cursor: pointer;	
	padding: 3px 10px;
	width: 120px;
	font-size: 12px;
	transition: all 200ms ease;
}

.effects_block button:hover {
	color: #000;
	border: 2px #fff solid;
	transition: all 200ms ease;
	background-color: #55575754;
}*/


.effects_block img {
	width: 20px;
	cursor: pointer;
	margin-right: 5px;
}









