* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background-image: url(../img/winter_bg.jpg);
	background-color: #20FDFEE4;
	background-attachment: fixed;
	background-size: cover;
}

a {
	text-decoration: none;
}

header .topnav h1 {
	text-transform: uppercase;
	color: #12909FFF;
	font-size: 50px;
	cursor: pointer;
	transition: color 200ms ease;
}

header .topnav h1:hover {
	color: #636567FF;
	transition: color 200ms ease;
}


header {
	background-size: contain;
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	top: 0;
	position: fixed;
	background-color: #20FDFEE4;
	z-index: 4;

	box-shadow: 0px 11px 16px -2px rgba(154, 186, 210, 0.64);
-webkit-box-shadow: 0px 11px 16px -2px rgba(154, 186, 210, 0.64);
-moz-box-shadow: 0px 11px 16px -2px rgba(154, 186, 210, 0.64);
}

header .topnav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
}

header .topnav .links_block {
	margin-right: 100px;
	margin-top: 10px;
}

header .topnav .links_block > a {
	color: #292A2AFF;
	font-size: 18px;
	margin-right: 5px;
}

header .topnav .links_block > a:hover {
	text-decoration: underline;
	color: #000;
}




header .topnav .links_block .categories_block ul {
    text-align: left;
    display: inline;
    margin: 0;
    padding: 14.8px 3px 15px 0;
    list-style: none;
   /* -webkit-box-shadow: 0 0 5px rgba(154, 186, 210, 0.88);
    box-shadow: 0 0 5px rgba(154, 186, 210, 0.88);*/
    z-index: 7;

}

header .topnav .links_block .categories_block ul li {
    display: inline-block;
    position: relative;
    cursor: pointer;
    color: #292A2AFF;
	font-size: 16px;
	cursor: pointer;
	display: inline-block;
	padding: 10px 15px 10px 15px;
	background-color: transparent;
	transition: all 200ms ease;
	margin-top: 10px;
	border: 2px grey dashed;
	z-index: 7;

}

header .topnav .links_block .categories_block ul li:hover {
    background: #232424CB;
    color: #ece7e7;
    border: 2px grey solid;
    transition: all 200ms ease;
}

header .topnav .links_block .categories_block ul li ul {
  padding: 0;
  position: absolute;
  left: 0;
  width: 200px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -transition: opacity 0.5s;
  margin-top: 12px;
  margin-left: -2px;
  z-index: 7;
}
header .topnav .links_block .categories_block ul li ul li {
    background: #20FDFEE4;
    display: block;
    color: #232424CB;
    margin-top: 0;
    font-size: 12px;
    font-weight: 600;
    border: 1px grey dashed;
    z-index: 7;
}
header .topnav .links_block .categories_block ul li ul li:hover {
 	background: #404141FF; 
 	border: 1px grey dashed;
}
header .topnav .links_block .categories_block ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}






.search_block {
	position: relative;
	left: 380px;
	margin-top: -23px;
	width: 220px;
}

.search_block form {
	position: relative;
	width: 220px;
}

.search_block form input {
	outline: none;
	padding: 2px 5px;
	width: 200px;
	font-size: 15px;
	background-color: transparent;
	border: 2px #12909FFF solid;
}

.search_block form input:focus {
	background-color: #fff; 
}

.search_block form button {
	border: none;
	outline: none;
	background: none;
	margin-left: -27px;
	cursor: pointer;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.search_block form button img {
	width: 15px;
	margin-bottom: -2px;
	filter: contrast(0.1);
}






main {
	width: 100%;
	display: flex;
	justify-content: center;
}

main .content_wrapper {
	max-width: 100%;
	border: 3px #20FDFEE4 dashed;
	margin-top: 130px;


-webkit-box-shadow: 0px 0px 19px 5px rgba(154, 186, 210, 0.88); 
box-shadow: 0px 0px 19px 5px rgba(154, 186, 210, 0.88);
}


.posts {
	display: flex;
	justify-content: center;
}



.posts a {
	width: 212px;
	height: 388px;
/*	background-color: #232424FF;
*/	text-align: center;
	padding-top: 7px;
	background-color: #2324247F;
	border-left: 4px #128C8DFF dashed;
	border-right: 4px #128C8DFF dashed;
	border-top: 4px #128C8DFF dashed;
		transition: all 200ms ease;

}

.posts a:hover {
	background-color: #232424CB;
	transition: all 200ms ease;
	border-left: 4px #20FDFEE4 dashed;
	border-right: 4px #20FDFEE4 dashed;
}

.posts a:hover > span {
	color: #fff;
		transition: all 200ms ease;

}

.posts a > img {
	margin-bottom: 2px;
}

.posts .f-rate img {
	width: 20px;
	margin-bottom: 0px;
}

.posts a > .name {
	font-size: 13px;
	color: #D7DBDBFF;
	margin-top: 16px;
}

.posts a > .year {
	color: #D7DBDBFF;
	font-size: 13px;
	font-style: italic;
	font-weight: 600;
}

.posts a > .f-rate {
	margin-top: 10px;
}






.more_button {
	border: 4px #20FDFEE4 dashed;
	outline: none;
	cursor: pointer;
	padding: 10px 20px;
	color: #20FDFEE4;
	background-color: #0F7894C4;
	margin: 25px auto;
	display: block;
	margin-top: 40px;
	width: 300px;
	transition: all 200ms ease;
	font-weight: 600;
}

.more_button:hover {
	color: #fff;
	border: 4px #fff dashed;
	background-color: #232424CB;
	transition: all 200ms ease;
}







.more_pages {
	border: 4px #20FDFEE4 dashed;
	outline: none;
	padding: 10px 20px;
	margin: 25px auto;
	display: block;
	width: 814px;
	transition: all 100ms ease;
}

.more_pages:hover {
	border: 4px #fff dashed;
	transition: all 100ms ease;
}

.more_pages ul {
	display: flex;
	list-style-type: none;
}

.more_pages ul li {
	margin-right: 3px;
}

.more_pages ul li button {
	border: 4px #20FDFEE4 dashed;
	outline: none;
	color: #222;
	background-color: transparent;
	padding: 10px 15px;
	cursor: pointer;
	font-weight: 600;
	transition: all 200ms ease;
}

.more_pages ul li button:hover {
	border: 4px #0F7894FF solid;
	transition: all 200ms ease;
	color: #fff;
	background-color: #0F7894C4;
}




footer {
	background-color: #20FDFEE4;
	background-image: url(../img/nver.jpg);
	background-size: cover;
	background-position: 0% 30%;
	width: 100%;
	height: 120px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

footer .footer_wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 800px;
}

footer .copyright {
	font-size: 30px;
	color: #fff;
	font-weight: 600;
}

footer .links_block {
	display: flex;
	justify-content: space-between;
	width: 160px;
}

footer .links_block a {
	color: #fff;
	font-weight: 600;
	font-size: 15px;
}

footer .links_block a:hover {
	text-decoration: underline;
}



.effects_block {
	width: 160px;
	position: absolute;
	right: 0;
	margin-right: 50px;
	text-align: center;
}

/*.effects_block button {
	border: 2px #12909FFF dashed;
	outline: none;
	background-color: transparent;
	color: #292A2AFF;
	cursor: pointer;	
	padding: 3px 10px;
	width: 120px;
	font-size: 12px;
	transition: all 200ms ease;
}

.effects_block button:hover {
	color: #000;
	border: 2px #0B5FC1FF solid;
	transition: all 200ms ease;
	background-color: #20FDFEE4;
}*/

.effects_block img {
	width: 20px;
	cursor: pointer;
	margin-right: 5px;
}










.trees_block .first {
	position: relative;
	bottom: 0;
}

.trees_block .first img {
	width: 310px;
	height: 460px;
	position: absolute;
	bottom: 0;
	margin-bottom: -50px;
	margin-left: 10px;
}

.trees_block .first img {
	animation:tree 6s 3s infinite;
  transition: all ease;
}


@-webkit-keyframes tree{
  0% {
    transform: skewX(0deg);
  }
  25% {
    transform: skewX(-2deg);
  }
  100% {
    transform: skewX(0deg);
  }
}



.trees_block .secend {
	position: relative;
	bottom: 0;
	right: 0;
}

.trees_block .secend img {
	width: 330px;
	position: absolute;
	bottom: 0;
	right: 0;
	margin-bottom: -20px;
	margin-right: 0px;
}

.trees_block .secend img {
	animation:sleep 6s 2s infinite;
  transition: all ease;
}


@-webkit-keyframes sleep{
  0% {
    transform: scaleY(1.0) scaleX(1.0);
  }
  50% {
    transform: scaleY(1.05) scaleX(0.95);
  }
  100% {
    transform: scaleY(1.0) scaleX(1.0);
  }
}





.kaxvats_xaxaliqner .first {
	position: fixed;
	top: 0;
	z-index: 5;
}

.kaxvats_xaxaliqner .first img {
	width: 180px;
	position: absolute;
	top: 0;
	margin-left: -40px;
	transform: scaleX(-1);
	z-index: 4;
}

.kaxvats_xaxaliqner .first img {
	animation:firstxaxaliq 6s 4s cubic-bezier(0.4,-0.12, 0.35, 0.9) infinite;
  transition: all ease;
}


@-webkit-keyframes firstxaxaliq{
  0% {
    transform: scaleX(-1) rotate(0deg);
  }
  25% {
  	transform: scaleX(-1) rotate(5deg);
    transform-origin: top;
  }
  50% {
  	transform: scaleX(-1) rotate(-2deg);
    transform-origin: top;
  }
  80% {
  	transform: scaleX(-1) rotate(2deg);
    transform-origin: top;
  }
  100% {
    transform: scaleX(-1) rotate(0deg);
    transform-origin: top;
  }
}




.kaxvats_xaxaliqner .secend {
	position: fixed;
	top: 0;
	z-index: 5;
}

.kaxvats_xaxaliqner .secend img {
	width: 120px;
	position: absolute;
	top: 0;
	margin-left: 180px;
	transform: scaleX(-1);
	z-index: 2;
}

.kaxvats_xaxaliqner .secend img {
	animation:secendxaxaliq 6s 3s cubic-bezier(0.4,-0.12, 0.35, 0.9) infinite;
  transition: all ease;
}


@-webkit-keyframes secendxaxaliq{
  0% {
    transform: scaleX(-1) rotate(0deg);
  }
  25% {
  	transform: scaleX(-1) rotate(5deg);
    transform-origin: top;
  }
  50% {
  	transform: scaleX(-1) rotate(-2deg);
    transform-origin: top;
  }
  80% {
  	transform: scaleX(-1) rotate(2deg);
    transform-origin: top;
  }
  100% {
    transform: scaleX(-1) rotate(0deg);
    transform-origin: top;
  }
}




.kaxvats_xaxaliqner .tirth {
	position: fixed;
	top: 0;
	z-index: 5;
}

.kaxvats_xaxaliqner .tirth img {
	width: 150px;
	position: absolute;
	top: 0;
	margin-left: 100px;
	transform: scaleX(-1);
	z-index: 1;
}

.kaxvats_xaxaliqner .tirth img {
	animation:tirthdxaxaliq 6s 3.5s cubic-bezier(0.4,-0.12, 0.35, 0.9) infinite;
  transition: all ease;
}


@-webkit-keyframes tirthdxaxaliq{
  0% {
    transform: scaleX(-1) rotate(0deg);
  }
  20% {
  	transform: scaleX(-1) rotate(5deg);
    transform-origin: top;
  }
  50% {
  	transform: scaleX(-1) rotate(-2deg);
    transform-origin: top;
  }
  80% {
  	transform: scaleX(-1) rotate(1deg);
    transform-origin: top;
  }
  100% {
    transform: scaleX(-1) rotate(0deg);
    transform-origin: top;
  }
}









.logo_block .zard_block {
	position: relative;
	top: 0;
	left: 0;
}

.logo_block .zard_block img {
	width: 80px;
	position: absolute;
	top: 0;
	margin-top: -110px;
	margin-left: -23px;
}


.logo_block .zard_block img{
  animation:ring 5s 1s infinite;
  transition: all ease;
}



@-webkit-keyframes ring{
  0% {
    transform:rotate(0deg);
  }
  25% {
    transform:rotate(10deg);
  }
  75% {
    transform:rotate(-5deg);
  }
  100% {
    transform:rotate(0deg);
  }
}




.kaxvats_santa_block {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 4;
	transition: all 2s ease;
}

.kaxvats_santa_block .santa_marmin {
	width: 200px;
	position: relative;
	top: 90px;
	right: 100px;
}

/*.kaxvats_santa_block form input {
	position: fixed;
	top: 150px;
	right: 150px;
	z-index: 10;
}

.kaxvats_santa_block form input:checked > label {
	right: -100px;
	transition: all 2s ease;
}
*/
.kaxvats_santa_block .santa_marmin {
	animation:kaxvatssanta 8s 4s ease-in-out infinite;
  transition: all ease-in-out;
}


@-webkit-keyframes kaxvatssanta{
  0% {
  	transform:rotate(0deg);
    transform-origin: top;
  }
  5% {
  	transform:rotate(10deg);
    transform-origin: top;
  }
  10% {
  	transform:rotate(0deg);
    transform-origin: top;
  }
  100% {
  	transform:rotate(0deg);
    transform-origin: top;
  }
}







.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}
/* Demo Purpose Only*/
.demo {
  font-family: 'Raleway', sans-serif;
  color:#fff;
    display: block;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
}
.demo a{
  font-family: 'Raleway', sans-serif;
color: #000;    
}




.arrow {
	position: absolute;
	width: 500px;
	height: 300px;
	top: 170px;	
	right: -40px;	
	transform: rotate(-90deg);
	z-index: 20;
	opacity: 0.8;
}

.nottification {
	text-transform: uppercase;
	position: absolute;
	top: 0;
	left: 0;
	max-width: 1000px;
	text-align: center;
	z-index: 20;
	color: #fff;
	background-color: #161C23A3;
	padding-top: 10%;
	padding-right: 75%;
	padding-left: 25%;
	padding-bottom: 50%;
	font-size: 60px;
	border: none;
	outline: none;
	position: fixed;
	display: block;
}

.nottification p {
	font-size: 20px;
	width: 500px;
}



