* {
	padding: 0;
	margin: 0;
}
header {
	-webkit-box-shadow: 0px 5px 14px -1px rgba(50, 50, 50, 0.24);
	-moz-box-shadow:    0px 5px 14px -1px rgba(50, 50, 50, 0.24);
	box-shadow:         0px 5px 14px -1px rgba(50, 50, 50, 0.24);
    width: 100%;
}
/* a {
	text-decoration: none;
} */
body {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}


header {
    width: 100%;
    background: white;
    display: flex;
    height: 100px;
    /*position: fixed;*/
    margin-top: 0px;
    
}
.header__logo {
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 29px;
    margin-left: 7%;
    height: 25px;
}
nav {
    margin-top: 37px;
    margin-left: 8%;
    width: 100%;
}


.topnav2 {
    display: block;
    margin-top: 0px;
    margin-left: 84%;
    position: relative; 
}
.topnav2 p {
    margin-left: 10%;
}
    
.img {
    height: 40px;
}

.text {
    padding-top: 100px;
}


/*.hover-border {
    position: relative;
    text-decoration: none;
    font-size: 22px;
    color: #290F19FF;
    padding-right: 30px;
    padding-bottom: 10px;
}
.hover-border::after {
    content: '';
    width: 35%;
    height: 4px;
    background-color: #593340FF;
    position: absolute;
    bottom: 0%; left: 20%;
    border-radius: 18px;
    transition: all 500ms ease;
}
.hover-border:hover::after {
    left: 0%;
    width: 80%;
}
*/


.hover-border1 {
    position: relative;
    text-decoration: none;
    font-size: 19px;
    color: #290F19FF;
    margin-left: 4.4%;
    padding-bottom: 10px;
}
.hover-border1::after {
    content: '';
    width: 30%;
    height: 4px;
    background-color: #1D0D13FF;
    position: absolute;
    bottom: -9%; left: 38%;
    border-radius: 0px;
    transition: all 200ms ease;
}
.hover-border1:hover::after {
    left: 38%;
    width: 30%;
}





.hover-border2 {
    position: relative;
    text-decoration: none;
    font-size: 19px;
    color: #290F19FF;
    margin-left: 4.4%;
    padding-bottom: 10px;
}
.hover-border2::after {
    content: '';
    width: 0%;
    height: 4px;
    background-color: #6E4157FF;
    position: absolute;
    bottom: -9%; left: 52%;
    border-radius: 0px;
    transition: all 200ms ease;
}
.hover-border2:hover::after {
    left: 40%;
    width: 22%;
}






.hover-border3 {
    position: relative;
    text-decoration: none;
    font-size: 19px;
    color: #290F19FF;
    margin-left: 4.4%;
    padding-bottom: 10px;
}
.hover-border3::after {
    content: '';
    width: 0%;
    height: 4px;
    background-color: #6E4157FF;
    position: absolute;
    bottom: -9%; left: 50%;
    border-radius: 0px;
    transition: all 200ms ease;
}
.hover-border3:hover::after {
    left: 39%;
    width: 20%;
}







.hover-border4 {
    position: relative;
    text-decoration: none;
    font-size: 19px;
    color: #290F19FF;
    margin-left: 4.4%;
    padding-bottom: 10px;
}
.hover-border4::after {
    content: '';
    width: 0%;
    height: 4px;
    background-color: #6E4157FF;
    position: absolute;
    bottom: -9%; left: 50%;
    border-radius: 0px;
    transition: all 200ms ease;
}
.hover-border4:hover::after {
    left: 39%;
    width: 17%;
}








.hover-border5 {
    position: relative;
    text-decoration: none;
    font-size: 19px;
    color: #290F19FF;
    margin-left: 4.4%;
    padding-bottom: 13px;
    border: 0px solid #BE8940FF;
    border-radius: 18px;
    background-color: #BE8940FF;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 69px;
    padding-left: 69px;
    color: white;
}

.hover-border5:hover {
    background-color: #1D0D13FF;
    transition: background 300ms ease;
}

.hover-border5:link {
    background-color: #BE8940FF;
    transition: background 300ms ease; 
}







.hover-border6  {

    position: relative;
    text-decoration: none;
    font-size: 19px;
    color: #290F19FF;
    margin-left: 4.4%;
    border: 0px solid #BE8940FF;
    border-radius: 30px;
    background-color: #BE8940FF;
    padding-top: 12px;
    padding-bottom: 12px;   
    padding-right: 52px;
    padding-left: 0px;
    color: white;
}

.hover-border6:hover {
    background-color: #1D0D13FF;
    transition: background 300ms ease;
}
.hover-border6:link {
    background-color: #BE8940FF;
    transition: background 300ms ease;
}   





/*.profile {
    width: 23px;
    position: relative;
    display: ;
    margin-left: 85.4%;
    top: -36px;
}
.profile:hover {
    display: none;
}*/


/* общие стили кнопки и текста */
.button{

    display: flex;
    text-align: center;
    justify-content:center;
    align-items: center;
    min-height: 50px;
    padding: 0px 0px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
    border-radius: 10px;
    position: relative;
    top: 20px;
    color: #fff;
    background-color: #BE8940FF;
    box-shadow: 0 0px 0px #3c354a;
    transition-duration: 300ms;
    margin-top: -56px; 
    margin-left: 83%;
    width: 50px;
    transition-delay: 300ms;
    transition-property: hover 300ms;
}

/* стили для конкретной кнопки */
/*.button_1{

color: #fff;
background-color: #5e5373;
box-shadow: 0 5px 0px #3c354a;
transition-duration: 300ms;
margin-top: 30px;
}*/

.button:hover{
    top: 0px;
    box-shadow: 0 35px 0px #3c354a;
    background-color: #D4B081FF;
}
.button:hover .profiletext {
    visibility: visible;
    transition: all 500ms ease;
    transition-delay: 300ms; 
}



.profiletext {
    position: absolute;
    margin-top: 35px;
    visibility: hidden;
    color: white;
    padding-top: 5px;
    padding-bottom: 7px;
    padding-left: 13px;
    padding-right: 13px;
    margin-top: 43px;
    text-decoration: none;
    font-size: 8px;
    transition-delay: 300ms;
    
}

.profile {
    width: 25px;
    vertical-align: middle;
}






.welcome {
    font-size: 60px;
    font-weight: normal;
    text-align: center;
    margin-top: 28px;
    margin-bottom: 20px;
}
.abzac1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
}
.abzac1 a {
    color: #BE8940FF;
    text-decoration: none;
}



.img2 img{
    width: 1245px;
    margin-top: 46px;
}




.order  {

    position: relative;
    text-decoration: none;
    font-size: 19px;
    color: #290F19FF;
    margin-left: 4.4%;
    border: 3px solid #BE8940FF;
    border-radius: 18px;
    background-color: #BE8940FF;
    padding-top: 10px;
    padding-bottom: 10px;   
    padding-right: 40px;
    padding-left: 40px;
    color: white;
}

.order:hover {
    background-color: #1D0D13FF;
    transition: background 300ms ease;
}
.order:link {
    background-color: #BE894080;
    transition: background 300ms ease;
}   



.contact-us {

    position: relative;
    text-decoration: none;
    font-size: 19px;
    color: #290F19FF;
    margin-left: 2%;
    border: 3px solid #AAAAAAFF;
    border-radius: 18px;
    background-color: #AAAAAA80;
    padding-top: 10px;
    padding-bottom: 10px;   
    padding-right: 40px;
    padding-left: 40px;
    color: white;
    transition: background 300ms ease;
}

.contact-us:hover {
    color: white;
    background-color: #1D0D13FF;
    transition: background 300ms ease;
}
.contact-us:link {
    background-color: #BFBFBF5F;
    transition: background 300ms ease;
}   



.img-icons {
    margin-top: 317px;
    margin-left: 120px;
    padding-bottom: 30px;
}



.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 25px;
    position: absolute;
}
.parallax {
    background: url(Wallpaper.png) no-repeat center;
    background-size: cover;
    background-attachment: scroll;
    height: 350px;
    width: 1250px;
    margin-left: 63px;
}


.wood-types {
    font-weight: normal;
    font-size: 40px;
    text-align: center;
    margin-top: 30px;
}


.woodimg img {
    width: 40px;
    margin-top: 74px;
    margin-bottom: 40px;
}


.woodtypes-img  img {
    width: 75px;
    margin-left: 223px;
    margin-top: 60px;
}


.woodtypes-text p {
    font-size: 35px;
    display: flex;
    position: absolute;
    margin-top: 9px;
}
.text1 {
    margin-left: 227px;
}
.text2 {
    margin-left: 508px;
}
.text3 {
    margin-left: 831px;
}
.text4 {
    margin-left: 1120px;
}



.woodtypes-imgtapancik  img {
    width: 75px;
    margin-left: 223px;
    margin-top: 93px;
    opacity: 0.2;
}





.seemore {
    margin-top: -93px;
    margin-left: 600px;
    padding-bottom: 30px;
}



.see-more  {
    position: relative;
    text-decoration: none;
    font-size: 19px;
    margin-left: 0%;
    border: 3px solid #593340FF;
    border-radius: 14px;
    background-color: #fff;
    padding-top: 8px;
    padding-bottom: 8px;   
    padding-right: 69px;
    padding-left: 69px;
    color: #593340FF;
    font-weight: bold;
    transition: all 300ms ease;
}

.see-more:hover {
    background-color: #593340FF;
    color: #fff;
    transition: all 300ms ease;
}
.see-more:link {
    background-color: #fff;
    border-color: #593340FF;
    transition: all 300ms ease;
}   


.woodtypes-tapanciktext p {
    font-size: 35px;
    display: flex;
    position: absolute;
    margin-top: 9px;
}
.text5 {
    margin-left: 227px;
    opacity: 0.1
}
.text6 {
    margin-left: 508px;
    opacity: 0.1
}
.text7 {
    margin-left: 831px;
    opacity: 0.1
}
.text8 {
    margin-left: 1120px;
    opacity: 0.1
}


.hr {
    width: 1236px;
    height: 3px;
    background-color: #593340;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    border: none;
}



.bad {

    position: relative;
    text-decoration: none;
    font-size: 19px;
    color: #290F19FF;
    margin-left: 4.4%;
    border: 0px solid #BE8940FF;
    border-radius: 15px;
    background-color: #290f19;
    padding-top: 12px;
    padding-bottom: 12px;   
    padding-right: 70px;
    padding-left: 70px;
    color: white;
}

.bad:hover {
    background-color: #3A3A3AFF;
    transition: background 300ms ease;
}
.bad:link {
    background-color: #290f19;
    transition: background 300ms ease;
}   

.normal {

    position: relative;
    text-decoration: none;
    font-size: 19px;
    color: #290F19FF;
    margin-left: 4.4%;
    border: 0px solid #BE8940FF;
    border-radius: 15px;
    background-color: #6e4157;
    padding-top: 12px;
    padding-bottom: 12px;   
    padding-right: 70px;
    padding-left: 70px;
    color: white;
}

.normal:hover {
    background-color: #D26490FF;
    transition: background 300ms ease;
}
.normal:link {
    background-color: #6e4157;
    transition: background 300ms ease;
}   

.amazing  {

    position: relative;
    text-decoration: none;
    font-size: 19px;
    color: #290F19FF;
    margin-left: 4.4%;
    border: 0px solid #BE8940FF;
    border-radius: 15px;
    background-color: #a36c29;
    padding-top: 12px;
    padding-bottom: 12px;   
    padding-right: 70px;
    padding-left: 70px;
    color: white;
}

.amazing:hover {
    background-color: #FC932AFF;
    transition: background 300ms ease;
}
.amazing:link {
    background-color: #a36c29;
    transition: background 300ms ease;
}   

.reiting {
    background: #e0e783;
    height: 335px;
    width: 87.1%;
    border-radius: 30px;
    margin-left: 6.9%;
    margin-top: 70px;
}

.rateus {
    margin: 60px;
}
.arajin {
    margin-left: 5%;
    padding-top: 30px;
    font-size: 60px;
    color: #593340;
}
.erkrord {
    margin-left: 5%;
    font-size: 60px;    
    color: #593340;
    font-weight: normal;
}

.rate {
    text-align: center;
}

.credits {
    font-size: 60px;
    font-weight: normal;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 20px;
    color: #593340FF;
}
.credits a:hover {
    background-color: green ;
}


.mardik {
    display: flex;
    margin-top: 60px;
}
.mardik img {
    width: 80px;
}
.mardik .table1 {
    margin-left: 12%;
}
.mardik .table2 {
    margin-left: 36%;
}
.mardik .table1 p {
    width: 100%;
    font-size: 20px;
    margin-left: 35%;
}
.mardik .table2 p {
    width: 100%;
    font-size: 20px;
    margin-left: 16%;
}
.table1 img {
    margin-bottom: 30px;
}
.table2 img {
    margin-bottom: 30px;
}
.table1 p {
    margin-bottom: 35px;
}
.table2 p {
    margin-bottom: 35px;
}

.hr2 {
    width: 1236px;
    height: 3px;
    background-color: #593340;
    margin-left: 7%;
    margin-top: 85px;
    margin-bottom: 90px;
    border: none;
}


footer {
    width: 100%;
    height: 170px;
    background-color: #593340FF;
    display: flex;
}
.nerqev .facebook {
    width: 30px;
    margin-top: 25px;
    margin-right: 5px;
}
.nerqev .in {
    width: 30px;
    margin-top: 25px;
    margin-right: 5px;
}
.nerqev .twitter {
    width: 30px;
    margin-top: 25px;
    margin-right: 5px;
}
.nerqev .youtube {
    width: 30px;
    margin-top: 25px;
    margin-right: 5px;
}
.nerqev .copyright {
    color: white;
    margin-top: 10px;
    position: absolute;
}
.nerqev .help {
    margin-left: 35%;
    margin-right: 4%;
    margin-top: 70px;
    text-decoration: none;
    color: #E0E783FF;
    position: absolute;
}
.nerqev .help:hover {
    text-decoration: underline;
}
.nerqev .privacy {
    margin-left: 43%;
    margin-right: 4%;
    margin-top: 70px;
    text-decoration: none;
    color: #E0E783FF;
    position: absolute;
}
.nerqev .privacy:hover {
    text-decoration: underline;
}
.nerqev .developers {
    margin-left: 55%;
    margin-top: 70px;
    margin-right: 4%;
    text-decoration: none;
    color: #E0E783FF;
    position: absolute;
}
.nerqev .developers:hover {
    text-decoration: underline;
}
.nerqev .gmail {
    margin-left: 61.6%;
    margin-right: %;
    margin-top: 28px;
    text-decoration: none;
    color: white;
    position: absolute;
    font-style: italic;
}
.nerqev .languages {
    margin-top: 73px;
    margin-left: 65%;
    position: absolute;
}
.nerqev .en {
    margin-left: 0%;
    width: 20px;
}
.nerqev .fr {
    margin-left: 150%;
    width: 20px;
}
.nerqev .es {
    margin-left: 300%;
    width: 20px;
}
.nerqev .jp {
    margin-left: 450%;
    width: 20px;
}
.nerqev .texten {
    position: absolute;
    text-decoration: none;
    color: white;
    font-size: 13px;
    margin-top: -36px;
}
.nerqev .textfr {
    position: absolute;
    text-decoration: none;
    color: white;
    font-size: 13px;
    margin-top: -36px;
    margin-left: 155%;
}
.nerqev .textes {
    position: absolute;
    text-decoration: none;
    color: white;
    font-size: 13px;
    margin-top: -36px;
    margin-left: 305%;
}
.nerqev .textjp {
    position: absolute;
    text-decoration: none;
    color: white;
    font-size: 13px;
    margin-top: -36px;
    margin-left: 470%;
}
