* {
	padding: 0;
	margin: 0;
}
header {
	-webkit-box-shadow: 0px 5px 14px -1px rgba(50, 50, 50, 0.24);
	-moz-box-shadow:    0px 5px 14px -1px rgba(50, 50, 50, 0.24);
	box-shadow:         0px 5px 14px -1px rgba(50, 50, 50, 0.24);
    width: 100%;
}
body {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}
header {
    width: 100%;
    background: white;
    display: flex;
    height: 100px;
    /*position: fixed;*/
    margin-top: 0px;
    
}
.header__logo {
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 29px;
    margin-left: 7%;
    height: 25px;
}
nav {
    margin-top: 37px;
    margin-left: 8%;
    width: 100%;
}


.topnav2 {
    display: block;
    margin-top: 0px;
    margin-left: 84%;
    position: relative; 
}
.topnav2 p {
    margin-left: 10%;
}
    
.img {
    height: 40px;
}

.text {
    padding-top: 100px;
}


/*.hover-border {
    position: relative;
    text-decoration: none;
    font-size: 22px;
    color: #290F19FF;
    padding-right: 30px;
    padding-bottom: 10px;
}
.hover-border::after {
    content: '';
    width: 35%;
    height: 4px;
    background-color: #593340FF;
    position: absolute;
    bottom: 0%; left: 20%;
    border-radius: 18px;
    transition: all 500ms ease;
}
.hover-border:hover::after {
    left: 0%;
    width: 80%;
}
*/


.hover-border1 {
    position: relative;
    text-decoration: none;
    font-size: 19px;
    color: #290F19FF;
    margin-left: 4.4%;
    padding-bottom: 10px;
}
.hover-border1::after {
    content: '';
    width: 0%;
    height: 4px;
    background-color: #6E4157FF;
    position: absolute;
    bottom: -9%; left: 53%;
    border-radius: 0px;
    transition: all 200ms ease;
}
.hover-border1:hover::after {
    left: 38%;
    width: 30%;
}





.hover-border2 {
    position: relative;
    text-decoration: none;
    font-size: 19px;
    color: #290F19FF;
    margin-left: 4.4%;
    padding-bottom: 10px;
}
.hover-border2::after {
    content: '';
    width: 22%;
    height: 4px;
    background-color: #1D0D13FF;
    position: absolute;
    bottom: -9%; left: 40%;
    border-radius: 0px;
    transition: all 200ms ease;
}
.hover-border2:hover::after {
    left: 40%;
    width: 22%;
}






.hover-border3 {
    position: relative;
    text-decoration: none;
    font-size: 19px;
    color: #290F19FF;
    margin-left: 4.4%;
    padding-bottom: 10px;
}
.hover-border3::after {
    content: '';
    width: 0%;
    height: 4px;
    background-color: #6E4157FF;
    position: absolute;
    bottom: -9%; left: 50%;
    border-radius: 0px;
    transition: all 200ms ease;
}
.hover-border3:hover::after {
    left: 39%;
    width: 20%;
}







.hover-border4 {
    position: relative;
    text-decoration: none;
    font-size: 19px;
    color: #290F19FF;
    margin-left: 4.4%;
    padding-bottom: 10px;
}
.hover-border4::after {
    content: '';
    width: 0%;
    height: 4px;
    background-color: #6E4157FF;
    position: absolute;
    bottom: -9%; left: 50%;
    border-radius: 0px;
    transition: all 200ms ease;
}
.hover-border4:hover::after {
    left: 39%;
    width: 17%;
}








.hover-border5 {
    position: relative;
    text-decoration: none;
    font-size: 19px;
    color: #290F19FF;
    margin-left: 4.4%;
    padding-bottom: 13px;
    border: 0px solid #BE8940FF;
    border-radius: 18px;
    background-color: #BE8940FF;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 69px;
    padding-left: 69px;
    color: white;
}

.hover-border5:hover {
    background-color: #1D0D13FF;
    transition: background 300ms ease;
}

.hover-border5:link {
    background-color: #BE8940FF;
    transition: background 300ms ease; 
}







.hover-border6  {

    position: relative;
    text-decoration: none;
    font-size: 19px;
    color: #290F19FF;
    margin-left: 4.4%;
    border: 0px solid #BE8940FF;
    border-radius: 30px;
    background-color: #BE8940FF;
    padding-top: 12px;
    padding-bottom: 12px;   
    padding-right: 52px;
    padding-left: 0px;
    color: white;
}

.hover-border6:hover {
    background-color: #1D0D13FF;
    transition: background 300ms ease;
}
.hover-border6:link {
    background-color: #BE8940FF;
    transition: background 300ms ease;
}   





/*.profile {
    width: 23px;
    position: relative;
    display: ;
    margin-left: 85.4%;
    top: -36px;
}
.profile:hover {
    display: none;
}*/


/* общие стили кнопки и текста */
.button{

    display: flex;
    text-align: center;
    justify-content:center;
    align-items: center;
    min-height: 50px;
    padding: 0px 0px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
    border-radius: 10px;
    position: relative;
    top: 20px;
    color: #fff;
    background-color: #BE8940FF;
    box-shadow: 0 0px 0px #3c354a;
    transition-duration: 300ms;
    margin-top: -56px; 
    margin-left: 83%;
    width: 50px;
    transition-delay: 300ms;
    transition-property: hover 300ms;
}

/* стили для конкретной кнопки */
/*.button_1{

color: #fff;
background-color: #5e5373;
box-shadow: 0 5px 0px #3c354a;
transition-duration: 300ms;
margin-top: 30px;
}*/

.button:hover{
    top: 0px;
    box-shadow: 0 35px 0px #3c354a;
    background-color: #D4B081FF;
}
.button:hover .profiletext {
    visibility: visible;
    transition: all 500ms ease;
    transition-delay: 300ms; 
}



.profiletext {
    position: absolute;
    margin-top: 35px;
    visibility: hidden;
    color: white;
    padding-top: 5px;
    padding-bottom: 7px;
    padding-left: 13px;
    padding-right: 13px;
    margin-top: 43px;
    text-decoration: none;
    font-size: 8px;
    transition-delay: 300ms;
    
}

.profile {
    width: 25px;
    vertical-align: middle;
}



.welcome {
    font-size: 60px;
    font-weight: normal;
    text-align: center;
    margin-top: 28px;
    margin-bottom: 20px;
}
.abzac1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
}


.table_1 {
	font-size: 20px;
}
.choose {
	width: 210px;
}
.type {
	width: 640px;
}
.weight {
	width: 210px;
}
.price {
	
}
.div_table {
	margin-left: 10%;
	margin-top: 40px;
}

ul {
	display: list-item;
	list-style-type: square;
	margin-left: 10%;
	margin-top: 30px;
}
ul img {
	width: 40px;
}
ul p {
	position: absolute;
	left: 26%;
	margin-top: -60px;
	font-size: 25px;
}