p {
	color: #333333;
	font-family: Arial;
}
p.dline {
	line-height: 1.7;
	color: #7d7d7d;
}
a {
	color: #3973db;
	text-decoration: none;
}
h2 {
	color: #333333;
	line-height: 1.5;
	font-family: Arial;
}
.adm {
	color: #333333;
	font-weight: bold;
}
.baclink {
	color: #7d7d7d;
}
h1 {
	font-family: Arial;
}
.patmutyun {
	line-height: 1.5;
}
.knopkeq {
	font-family: Arial;
	font-size: 20px;
}
.image {
	position	: relative;
	width		: 100%; /* for IE 6 */
}
h4 {
	position	: absolute;
	top		: 0px;
	left		:0%;
	width		: 77%;
	font-family: Arial
	    font-family: Calluna Sans, Arial, sans-serif;
        color: #fff;
        margin-top: 0;
        background: linear-gradient(rgba(0,0,0,0.5),
         rgba(0,0,0,0.5)),
          url('');
        font-size: 5rem;
        padding: 9.7rem;
        text-align: center;
        background-repeat: no-repeat;
        background-size: cover;
        word-spacing: rem;
}
a {
	outline: none;
}
figure {
	width: 27%; /* Ширина */
	float: left; /* Выстраиваем элементы по горизонтали */
	margin: 0 0 0 0.5%; /* Отступ слева */
	background: #f0f0f0; /* Цвет фона */
	border-radius: 5px; /* Радиус скругления */
	padding: 1%; /* Поля */
}
figure:first-child {
	margin-left: 0; /* Убираем отступ для первого элемента */
}